.clientContainer {
    display: flex;
}

.resetButton {
    border: none;
    color: #fff;
    cursor: pointer;
    /* font-weight: 600; */
    font-size: 16px;
    border-bottom: 2px solid #BCCCFF;
    background: none;
    padding: 0;
    margin-top: 10px;
}