.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #BCCCFF;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.marginLeft10px {
  margin-left: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5rem;
}

.listItem {
  margin: 2.6rem 0 1.25rem;
}

.lightText {
  color: #fff;
  font-weight: 500;
}

.smallText {
  font-size: 16px;
}

.blogText {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.blogText a {
  color: #BCCCFF;
  text-decoration: none;
}

.listItemTitleText {
  font-size: 34px;
  text-decoration: none;
  color: #BCCCFF;
}

.listItemTitleText:hover {
  color: #FFF;
  cursor: pointer;
}

.arrow {
  display: inline;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 724px) {
  .arrow {
    display: none;
  }
}

.arrowReverse {
  display: inline;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}

.myLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-weight: 500;
}

.myLinks > a {
  text-decoration: none;
  color: #FFF;
}

.myLinks > a:hover {
  text-underline-offset: 0.4rem;
  text-decoration: underline;
}

.myLinks > img {
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.postContent {
  margin-top: 4rem;
  color: #FFF;
}